oarepo[s3]==12.0.21
autoflake==2.3.1
black==24.4.2
cachetools==5.3.3
configupdater==3.2
deepdiff==5.8.1
deepmerge==1.1.1
et-xmlfile==1.1.0
flask-babelex==0.9.4
frozendict==2.4.4
isort==5.13.2
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.9.25
langcodes==3.4.0
language-data==1.2.0
lazy-object-proxy==1.10.0
levenshtein==0.25.1
libcst==1.4.0
marisa-trie==1.2.0
marshmallow-i18n-messages==0.1.0
marshmallow-union==0.1.15.post1
mypy-extensions==1.0.0
nr-metadata==2.0.27
nr-oaipmh-harvesters==1.0.19
nr-vocabularies==2.0.13
oarepo-dashboard==1.0.8
oarepo-global-search==1.0.13
oarepo-model-builder==4.0.85
oarepo-oai-pmh-harvester==4.0.46
oarepo-published-service==1.0.3
oarepo-requests==1.2.2
oarepo-runtime==1.5.37
oarepo-ui==5.1.36
oarepo-vocabularies==2.0.90
openpyxl==3.1.4
pathspec==0.12.1
pyflakes==3.2.0
python-dotenv==1.0.1
rapidfuzz==3.9.3
sickle==0.7.0
tomli==2.0.1; python_version < "3.11"
tomlkit==0.12.5
tqdm==4.66.4
whitenoise==6.7.0