oarepo[s3,rdm]==12.2.4
cachetools==5.5.1
deepmerge==2.0
et-xmlfile==2.0.0
flask-babelex==0.9.4
frozendict==2.4.6
jinja2-simple-tags==0.6.1
jinjax==0.37
json5==0.10.0
langcodes==3.5.0
language-data==1.3.0
levenshtein==0.26.1
marisa-trie==1.2.1
marshmallow-i18n-messages==0.1.0
nr-metadata==2.0.54
nr-oaipmh-harvesters==1.0.34
nr-vocabularies==2.1.5
oarepo-communities==5.1.6
oarepo-dashboard==1.0.18
oarepo-doi==1.0.17
oarepo-glitchtip==1.0.1
oarepo-global-search==1.0.32
oarepo-oai-pmh-harvester==4.1.8
oarepo-oidc-einfra==1.0.4
oarepo-published-service==1.0.3
oarepo-requests==2.3.16
oarepo-runtime==1.5.92
oarepo-ui==5.2.37
oarepo-vocabularies==2.1.15
oarepo-workflows==1.1.8
openpyxl==3.1.5
orcid==1.0.3
python-dotenv==1.0.1
rapidfuzz==3.12.1
sentry-sdk==2.21.0
sickle==0.7.0
urnparse==0.2.2
whitenoise==6.9.0