oarepo==12.0.14
cachetools==5.3.3
deepmerge==1.1.1
et-xmlfile==1.1.0
flask-babelex==0.9.4
frozendict==2.4.0
jinja2-simple-tags==0.6.1
jinjax==0.31
json5==0.9.22
langcodes==3.3.0
levenshtein==0.25.0
nr-metadata==2.0.14
nr-oaipmh-harvesters==1.0.6
nr-vocabularies==2.0.11
oarepo-oai-pmh-harvester==4.0.44
oarepo-published-service==1.0.3
oarepo-requests==1.1.2
oarepo-runtime==1.5.16
oarepo-ui==5.1.5
oarepo-vocabularies==2.0.79
openpyxl==3.1.2
python-dotenv==1.0.1
rapidfuzz==3.6.2
sickle==0.7.0
tqdm==4.66.2
whitenoise==6.6.0