{# def metadata, extra_context, record, ui, is_preview=None, api_record=None, embedded #}
{%- set title = metadata.title ~ " | " ~ _("NR Document repository") %}

{% extends "oarepo_ui/detail.html" %}

{%- block head_links %}
{{ super() }}
{%- endblock %}

{% block record_main_content %}
    <Main metadata={{metadata}} ui={{ui}} extra_context={{extra_context}} record={{record}}/>
{% endblock %}

{% block record_sidebar %}
    <Sidebar metadata={metadata} ui={ui} extra_context={extra_context} record={record} is_preview={is_preview} api_record={api_record}/>
{% endblock record_sidebar %}

{%- block javascript %}
{{ super() }}
{% if not embedded %}
{{ webpack['oarepo_requests_ui_record_requests.js']}}
{{ webpack['record_citations_dropdown.js']}}
{% endif %}
{{ webpack['copy_to_clipboard.js']}}
{%- endblock %}