{#def metadata, record, extra_context #}
{% if record.expanded.request_types or record.expanded.requests or record.links.edit_html%}
<section class="ui segment" aria-label='{{ _("Actions") }}'>
<h2 class="ui small header detail-sidebar-header">{{ _("Actions") }}</h2>
{% if record.links.edit_html%}
  <div class="mb-10">
    <SidebarLink icon="pencil" href={record.links.edit_html}>
      {{_('Edit')}}
    </SidebarLink>
  </div>
{% endif %}
{% if record.expanded.request_types or record.expanded.requests %}
  <RecordRequests record={record} />
{% endif %}
</section>
{% endif %}
<IdentifiersAndLinks originalRecordUrl={metadata.originalRecord} objectIdentifiers={metadata.objectIdentifiers}/>
<RecordExport record={record} metadata={metadata} extra_context={extra_context}/>