{#def metadata, record, extra_context #}

{% if record.links.edit_html%}
  <section class="ui segment">
    <SidebarLink icon="pencil" href={record.links.edit_html}>
      {{_('Edit')}}
    </SidebarLink>
  </section>
{% endif %}
<section class="ui segment" aria-label='{{ _("Record request list") }}'>
  <RecordRequests record={record} />
</section>
<IdentifiersAndLinks originalRecordUrl={metadata.originalRecord} objectIdentifiers={metadata.objectIdentifiers}/>
<RecordExport record={record} metadata={metadata} extra_context={extra_context}/>