{#def search_app_config#}

{%- extends config.BASE_TEMPLATE %}

{%- block javascript %}
{{super()}}
{{webpack["dashboard_communities.js"]}}
{{webpack["components.js"]}}
{{webpack["components.css"]}}
<script src="http://localhost:5002/jstest.js"></script>
{%- endblock javascript %}

{%- block page_body %}
{{config}}
    <Header />
    <div
    id="invenio-search-config"
    data-invenio-search-config='{{ search_app_config | tojson }}'
    >

    </div>
{%- endblock page_body %}
