{#def  #}
{%- set title = _("Community") ~ " " ~ request.path.split('/')[-1] ~ " | " ~ _("NR Document repository") %}

{% extends "oarepo_ui/detail.html" %}

{%- block head_links %}
{{ super() }}
{%- endblock %}


{% block record_main_content %}
    <h1 class="ui header">{{ _("Community") }} {{ request.path.split('/')[-1] }}</h1>

    <div class="ui placeholder segment">
    <div class="ui icon header">
        <i class="info icon"></i>
        {{ _("Community pages are a planned feature for 0.7.0 release.") }}
    </div>
    <a class="ui primary button" href="javascript:history.go(-1)">{{ _('Back') }}</a>
    </div>
{% endblock %}

{% block record_sidebar %}
{% endblock record_sidebar %}
