{{ _('metadata/dateAvailable.label') }}
{{ _('metadata/dateModified.label') }}
{{ _('metadata/languages.label') }}
{{ _('metadata/resourceType.label') }}
{{ _('metadata/thesis/dateDefended.label') }}
{{ _('metadata/subjects.label') }}
{{ _('metadata/abstract.label') }}
{{ _('metadata/thesis/degreeGrantors.label') }}
{{ _('metadata/thesis/studyFields.label') }}
{{ _('metadata/publishers.label') }}
{{ _('metadata/accessRights.label') }}
{{ _('metadata/rights.label') }}
{{ _('metadata/events.label') }}
{{ _('metadata/externalLocation.label') }}
{{ _('metadata/fundingReferences.label') }}
{{ _('metadata/geoLocations.label') }}
{{ _('metadata/methods.label') }}
{{ _('metadata/notes.label') }}
{{ _('metadata/series.label') }}
{{ _('metadata/subjectCategories.label') }}
{{ _('metadata/technicalInfo.label') }}
{{ _('metadata/version.label') }}
