{#def metadata, ui, layout, record, extra_context #}
{%- set title = metadata.title ~ " | " ~ _("NR Document repository") %}
{% extends "oarepo_ui/detail.html" %}

{%- block head_links %}

{{ super() }}
{{ webpack['docs_app_components.js']}}
{{ webpack['docs_app_components.css']}}

{% endblock %}
